.header {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 10px 40px;
}
.logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items ul {
  display: flex;
  list-style-type: none;
}
.nav-items ul li {
  padding: 10px;
  margin: 10px;
}
.res-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restro-card {
  width: 260px;
  border: 1px solid black;
  margin: 8px;
  padding: 2px;
}
.restro-card:hover{
  border: 2px solid gray;
  cursor: pointer;
}
.restro-logo{
  width: 100%;
  height: 180px;    
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restro-logo img{
      width :100%;
      padding: 18px;
      object-fit: cover;
}
.restro-card h3 {
  font-size: 16px;
  margin: 6px 0;
}
.restro-card h4 {
  font-size: 13px;
  margin: 4px 0;
  color: #555;
}
.cuisines {
  white-space: normal;
  line-height: 1.3;
}
.top-rated-rest
{
  margin: 10px;
  cursor: pointer;
}

.log-in{
  height: 34px;
  width: 46px;
  
}
.log-in-container
{
  padding: 10px 5px 5px 5px;
}
.filter-btn{
  display: flex;
}
.Search-input{
  margin-top: 10px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  background: #f0f0f0;
}
